<nav class="c-header">
  <div class="c-header__container">
    @if (isLoggedIn) {
    <a class="c-header__brand" [routerLink]="['/inicio']">
      <h2 class="c-header__brand-name">TheBarberHub</h2>
    </a>
    } @else {
    <a class="c-header__brand" [routerLink]="['/']">
      <h2 class="c-header__brand-name">TheBarberHub</h2>
    </a>
    }

    @if (isLoggedIn) {
    <ul class="c-header__nav">
      <li><a class="c-header__link" [routerLink]="['/inicio']" routerLinkActive="active">Inicio</a></li>
      <li><a class="c-header__link" [routerLink]="['/usuarios']" routerLinkActive="active">Mi Perfil</a></li>
      <li><a class="c-header__link" [routerLink]="['/peluquerias']" routerLinkActive="active">Barberías</a></li>
      <li><a class="c-header__link logout" class="btn-submit" (click)="LogOut()" [routerLink]="['/']">Cerrar Sesion</a></li>
    </ul>
    } @else {
    <div class="c-header__actions">
      <a [routerLink]="['/login']" class="btn-login">Iniciar Sesión</a>
    </div>
    }
  </div>
</nav>