<div class="c-cerrar-sesion">
  <div class="c-cerrar-sesion__form-wrapper">
    <h2 class="c-cerrar-sesion__title">Cerrar Sesión</h2>

    <div class="c-cerrar-sesion__content-box">
      <p class="c-cerrar-sesion__text">
        ¿Estás seguro de que quieres cerrar sesión?
      </p>
    </div>

    <div class="c-cerrar-sesion__form-actions">
      <button type="button" class="c-cerrar-sesion__btn c-cerrar-sesion__btn--cancel" routerLink="/inicio">
        Cancelar
      </button>
      <button type="button" class="c-cerrar-sesion__btn c-cerrar-sesion__btn--submit" (click)="logout()">
        Cerrar Sesión
      </button>
    </div>
  </div>
</div>